a:link,
a:visited {
  text-decoration: none;

  color: #999;
}

a:hover {
  text-decoration: underline;

  color: #fff;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  color: #fff;
  background: #353434;
}

:global(#react-root) {
  box-sizing: border-box;
  max-width: 1000px;
  height: 100%;
  margin: auto;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.content {
  display: flex;
  overflow-y: hidden;

  flex: 1;
}

.header {
  display: block;

  height: 60px;
  margin: 15px auto 25px;
}

.menu {
  font-size: 13px;

  display: flex;
  flex-direction: row;

  margin: 15px 0;
  padding: 0;

  list-style: none;

  text-align: center;

  justify-content: center;
}

.menuItem .menuLink {
  display: inline-block;

  box-sizing: border-box;
  width: 100px;
  padding: 10px 0;

  text-transform: uppercase;

  color: #fff;
  border: 1px solid #111;
  background: #222;
}

.menuItem .menuLink:hover {
  color: #222;
  background: #fff;
}
