.container {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.form {
  display: flex;
  flex-direction: row;

  margin-bottom: 10px;
}

.input,
.button {
  color: #fff;
  border: 1px solid #777;
  outline: none;
  background: rgba(255, 255, 255, .1);
}

.input {
  margin-right: 1em;
  padding: .25em;

  flex: 1;
}

.row {
  display: flex;
  flex-direction: column;

  margin: 6px 0;
}

.inner {
  margin: 4px 0;
}

.top {
  display: flex;
  flex-direction: row;

  composes: inner;
}

.left {
  flex: 1;
}

.right {
  text-align: right;
}

.detail {
  color: #999;
}

a.name {
  margin: 0 .4em;

  color: #fff;
}

.tags {
  font-weight: lighter;
  font-style: italic;

  padding: 0;

  list-style: none;

  composes: inner;
}

.tag {
  display: inline-block;

  margin-right: .5em;

  color: #999;
}
