.container {
  flex: 1;
}

.heading {
  font-weight: lighter;
}

.cover {
  display: inline-block;

  box-sizing: border-box;
  width: 25%;

  vertical-align: top;

  border: 1px solid transparent;
}

.row {
  display: flex;
  flex-direction: column;

  margin: 6px 0;
}

.artists {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.artist {
  display: inline-block;

  margin: 0;
}

.artist::after {
  content: '&';

  color: #999;

  margin: 0 .5em;
}

.artist:last-child::after {
  content: none;
}

.separator {
	color: #999;
	margin: 0 .5em;
}

.inner {
  margin: 4px 0 0;
}

.top {
  display: flex;
  flex-direction: row;

  composes: inner;
}

.left {
  flex: 1;
}

.right {
  text-align: right;
}

.releaseList {
  margin: 4px 0 0;
  padding: 0;

  list-style: none;

  color: #777;
}

.release {
  display: flex;
  flex-direction: row;
}

.format {
  flex: 1;
}

.actions {
  margin: 0;
  margin-right: .5em;
  padding: 0;
}

.actions::before {
  content: '[ ';
}

.actions::after {
  content: ' ]';
}

.action {
  display: inline-block;
}

.spacer {
  margin: 0 2px;
}
