.container {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.form {
  display: flex;
  flex-direction: row;

  margin-bottom: 10px;
}

.input,
.button {
  color: #fff;
  border: 1px solid #777;
  outline: none;
  background: rgba(255, 255, 255, .1);
}

.input {
  margin-right: 1em;
  padding: .25em;

  flex: 1;
}

.row {
  display: flex;
  flex-direction: column;

  margin: 6px 0;
}

.inner {
  margin: 4px 0 0;
}

.top {
  display: flex;
  flex-direction: row;

  composes: inner;
}

.left {
  flex: 1;
}

.right {
  text-align: right;
}

.tags {
  font-weight: lighter;
  font-style: italic;

  margin-left: 1em;
  padding: 0;

  list-style: none;

  composes: inner;
}

.tag {
  display: inline-block;

  margin-right: .5em;

  color: #999;
}

.releaseList {
  margin: 4px 0 0;
  padding: 0;

  list-style: none;

  color: #777;
}

.release {
  display: flex;
  flex-direction: row;
}

.format {
  flex: 1;
}

.actions {
  margin: 0;
  margin-right: .5em;
  padding: 0;
}

.actions::before {
  content: '[ ';
}

.actions::after {
  content: ' ]';
}

.action {
  display: inline-block;
}

.spacer {
  margin: 0 2px;
}
