.content {
  box-sizing: border-box;
  margin: 15px auto;
  padding: 20px 25px;

  border: 1px solid #111;
  background: #222;
}

.content h2:first-child {
  margin-top: 0;
}

.text:last-child {
  margin-bottom: 0;
}

.list {
  padding: 0;

  list-style: none;
}
