.item {
  display: flex;
  flex-direction: row;

  margin-bottom: .5em;
}

.activeItem {
  color: #bbb;
}

.icon {
  width: 1em;
  margin-right: .5em;

  cursor: pointer;
}

.icon:hover {
  color: #bbb;
}

.activeIcon {
  color: #bbb;
}

.name {
  flex: 1;
}
