.container {
  margin: 0 auto;

  text-align: center;
}

.form {
  box-sizing: border-box;
  max-width: 300px;
  margin: 15px auto;
  padding: 20px 25px;

  border: 1px solid #111;
  background: #222;
}

.form h3 {
  margin: 0 0 12px;
}

.error {
  margin: 12px 0;
  padding: 8px;

  color: rgb(200, 0, 0);
  border: 1px solid rgba(255, 0, 0, .5);
  background: rgba(255, 0, 0, .1);
}

.row {
  display: flex;

  margin: 5px 0;
}

.label {
  width: 70px;
}

.input {
  flex: 1;
}

.submit {
  margin: auto;
}
