.spinner {
  font-size: 4em;

  display: block;

  animation: spinnerAnimation 2s linear infinite;
  text-align: center;
}

@keyframes spinnerAnimation {
  100% {
    transform: rotate(360deg);
  }
}
