.player {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.icon {
  width: 10px;
  margin-right: 5px;

  cursor: pointer;
}

.title {
  position: relative;

  overflow: hidden;

  height: 20px;
  margin: 0 5px;
  padding: 5px;

  cursor: default;
  text-align: center;

  background: #222;

  flex: 1;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;

  border-right: 1px solid rgba(255, 255, 255, .15);
  background-color: rgba(255, 255, 255, .1);
}

.buffered {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 1px;

  border-right: 1px solid rgba(100, 255, 100, .75);
  background-color: rgba(100, 255, 100, .5);
}
