.name {
  display: flex;
  flex-direction: row;

  margin: .5em 0;
}

.left {
  flex: 1;
}

.expand {
  margin-right: .5em;
}

.open {
  transform: rotate(90deg);
}

.active {
  color: rgb(75, 220, 75);
}
