.row {
  display: flex;
  flex-direction: column;

  margin: 6px 0;
}

.top {
  display: flex;
  flex-direction: row;

  margin: 2px 0;
}

.left {
  flex: 1;
}

.right {
  text-align: right;
}

.tags {
  margin: 2px 0;
}

.releaseList {
  margin: 2px 0;
  padding: 0;

  list-style: none;

  color: #777;
}

.release {
  display: flex;
  flex-direction: row;
}

.format {
  flex: 1;
}

.actions {
  margin: 0;
  margin-right: .5em;
  padding: 0;
}

.actions::before {
  content: '[ ';
}

.actions::after {
  content: ' ]';
}

.action {
  display: inline-block;
}

.spacer {
  margin: 0 2px;
}
