.container {
  position: relative;

  width: 100%;
  height: 100%;
}

.inner {
  position: absolute;

  overflow-y: scroll;

  width: 100%;
  height: 100%;
}

.fadeTop,
.fadeBottom {
  position: absolute;
  left: 0;

  width: 100%;
  height: 40%;
  max-height: 4em;

  pointer-events: none;
}

.fadeTop {
  top: 0;

  background: linear-gradient(to bottom, rgba(53, 52, 52, 1) 0%, rgba(53, 52, 52, 0) 100%);
}

.fadeBottom {
  bottom: 0;

  background: linear-gradient(to bottom, rgba(53, 52, 52, 0) 0%, rgba(53, 52, 52, 1) 100%);
}
